<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @elevator.serial_number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @elevator.model %>
</p>

<p>
  <strong>Elevatory type:</strong>
  <%= @elevator.elevatory_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @elevator.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @elevator.start_date %>
</p>

<p>
  <strong>Last check:</strong>
  <%= @elevator.last_check %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @elevator.certificate %>
</p>

<p>
  <strong>Information:</strong>
  <%= @elevator.information %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @elevator.notes %>
</p>

<p>
  <strong>Column:</strong>
  <%= @elevator.column %>
</p>

<%= link_to 'Edit', edit_elevator_path(@elevator) %> |
<%= link_to 'Back', elevators_path %>
