<p id="notice"><%= notice %></p>

<p>
  <strong>Column type:</strong>
  <%= @column.column_type %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @column.floors %>
</p>

<p>
  <strong>Column status:</strong>
  <%= @column.column_status %>
</p>

<p>
  <strong>Information:</strong>
  <%= @column.information %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @column.notes %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @column.battery %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
